@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap'); */


html{
    background-color: black;
}

body{
    cursor: default;
}